nav ul{
    background-color: #87CEFA;
    list-style: none;
}

nav ul li{
    display: inline;
}

nav ul li a{
    padding: 2px 10px;
    display: inline-block;
    color: white
    text-decoration none;
}

nav ul li a:hover{
    color: black
} 
  
body{
    text-align:center
}
